vendor
out.sql
*.sql
sql-exports
/tests/FileSyncProducer/fixtures/*
*.meta
adamadam.blog-export
adamadam-blog-export
wordpress-plugin/generic/secrets.php
secrets.sh
tester.sh
exports.sh
bluehost-export
tests/.phpunit.result.cache
exports
siteground-export-*
node_modules


# Gas Town (added by gt)
.runtime/
.claude/
.beads/
.logs/
